{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">


  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AlTuristicos</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'apiat.views.index' %}">Inicio</a></li>
              <li><a href="{% url 'apiat.views.Acerca' %}">Acerca de</a></li>
              <li><a href="{% url 'apiat.views.contact' %}">Contacto</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aplicación<span class="caret" class="active"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Sortear por:</li>
                  <li><a href="{% url 'apiat.views.Regiones' %}">Regiones</a></li>
                  <li><a href="{% url 'apiat.views.Provincias' %}">Provincias</a></li>
                  <li><a href="{% url 'apiat.views.Comunas' %}">Comunas</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Otro</li>
                  <li><a href="#">Buscar</a></li>
                </ul>
              </li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      {% block content %}
        {% if queryset %}
        <p><h2>Regiones/<a href="{% url 'apiat.views.Provincias' %}">Provincias</a>/<a href="{% url 'apiat.views.Comunas' %}">Comunas</a></h2></p>
        <p class="dropdown-header">Selecciona la región</p> 
        <table class='table'>
        {% for instance in queryset %}
          <tr><td><a href="{% url 'apiat.views.Regiones' %}{{ forloop.counter }}">{{ instance.nombre }}</a> </td></tr>
        {% endfor %}
        </table>

        
        {% endif %}
      {% endblock %}
    </div>

    </div> <!-- /container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
